
<ion-content class="fondo">
  <ion-card color="warning" >
      <ion-card-content >
          <td class="text">Este es un mensaje
          </td>
          
    
          
      </ion-card-content>
  </ion-card>



  
</ion-content>







<ion-footer class="footer" style="background-color: white; " >


    <form [formGroup]="form" (ngSubmit)="enviarMensaje()">
      <ion-item color="light" >
          <ion-input type="text" formControlName="mensaje" class="form-control" placeholder="Escribir..."></ion-input>
          <ion-button [disabled]="form.invalid" color="success" type="sumbit" ><ion-icon name="caret-forward-outline"></ion-icon></ion-button>
      </ion-item>
    </form>

  
</ion-footer>
