
<ion-content class="fondo">
  <ion-card color="warning" *ngFor="let nota of notas; let i = index">
      <ion-card-content>
          <td class="text">{{nota.texto    }}
          </td>
      </ion-card-content>
  </ion-card>



  
</ion-content>







<ion-footer style="background-color: white;" >

  <ion-card color="dark" style="margin: 0px 0px; border-radius: 20px;" > 
      
      <ion-item color="light">
          <ion-input for="texto" id="texto" name="texto" [(ngModel)]="model.texto" placeholder="Escribir..."></ion-input>
          <ion-button color="success" type="sumbit" (click)="agregarNota()" ><ion-icon name="checkmark-outline"></ion-icon></ion-button>
      </ion-item>
  </ion-card>
  
</ion-footer>
